<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/accounting-cartao.log</file>

        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/archived/accounting-cartao_%d{dd-MM-yyyy}_%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>20</maxHistory>
            <totalSizeCap>250MB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.security" level="ERROR"/>
    <logger name="weblogic.security.services" level="ERROR"/>

    <logger name="br.com.accounting.cartao" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SAVE-TO-FILE" />
    </root>
</configuration>